spring:
  application:
    name: expensetracker-backend
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/expensetracker
    username: postgres
    password: 123456789
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    jwt:
      secret: mySecretKey
      expiration: 86400000  # 24 hours

server:
  port: 8080

logging:
    level:
      org.springframework.security: DEBUG
