spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/expensetracker_dev
    username: postgres
    password: 123456789
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.omkar.expensetracker: DEBUG