spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/expensetracker_prod
    username: postgres
    password: ${DB_PASSWORD}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

logging:
  level:
    com.omkar.expensetracker: INFO